doctype html
html
  head
    title Book Trading Club
    meta(name='description',content='Book Trading Club')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Load Styles
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css')
    link(rel='stylesheet', href='/public/style.css')
    // Load Scripts
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js')
  body
    // Navbar
    nav(class='navbar navbar-expand-lg navbar-dark bg-primary')
      article(class='container-fluid')
        button(class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation')
          span(class='navbar-toggler-icon')
        a(class='navbar-brand' href='/') Book TC
        article(class='collapse navbar-collapse' id='navbarColor01')
          ul(class='navbar-nav mr-auto')
            li(class='nav-item')
              form(class='d-flex' action='/search' method='get')
                input(class='form-control mr-sm-2' type='text' placeholder='Book Title (e.g. London)' name='title')
                button(class='btn btn-outline-success' type='submit') Search
                  i(class='fas fa-search')
          // Set Navbar according to user login
          ul(class='navbar-nav mr-pills')
            if !user
              li(class='nav-item')
                a(class='nav-link' href='/auth/login')Log In
              li(class='nav-item')
                a(class='nav-link' href='/auth/signup')Sign Up
            else
              li(class='nav-item active')
                a(class='nav-link' href='/profile')Welcome #{user.local.username}!
              li(class='nav-item active')
                a(class='nav-link' href='/allbooks')All Books
              li(class='nav-item active')
                a(class='nav-link' href='/profile/setting/#{user._id}') Setting
              li(class='nav-item active')
                a(class='nav-link' href='/auth/logout')Log Out
    if (message.length > 0)
      // If there are messages
      article(class='alert alert-dismissable alert-warning container-class mt-3')
        button(type='button' class='close' data-dismiss='alert')&times;
        h4 Warning!
        p #{message}
    article(class='container-fluid')
      // Get Trade Requests Information
      h2 Hello #{user.local.username} 
        i(class='fas fa-user')
      button(type='button' class='btn btn-primary ') Your trade requests
        span(class='badge bg-light ml-4') #{reqsFromUserToOwner.length}
      button(type='button' class='btn btn-info') Trade requests for you
        span(class='badge bg-light ml-4') #{reqsFromOwnerToUser.length}
      if (reqsFromUserToOwner.length > 0)
        // Display Trade Requests from User to Owner
        hr
        article(class='row')
          article(class='col-lg-12')
            p(style='color:orange;')Your trade requests
            

      if (reqsFromOwnerToUser.length > 0)
        // Display Trade Requests from Owner to User
        article(class='row')
          article(class='col-lg-12')
            p(style='color:orange;') Trade requests for you
            // Set Up Table
            table(class='table table-striped table-hover table-bordered mt-2')
              thead
                tr
                  th #
                  th Book Title
                  th Action
              tbody
                tr
                  each tradeReq, i in reqsFromOwnerToUser
                    td i+1
                    td tradeReq.book.title
                    td
                      form(action='trade/acceptRequest/#{tradeReq._id}' method='post')
                        input(type='submit' class='btn btn-block btn-success' value='Accept')
                      form(action='trade/rejectRequest/#{tradeReq._id' method='post')
                        input(type='submit' class='btn btn-block' value='Reject')
        hr
        // Display All Books
        h2(class='mt-2')All Books 
          i(class='fas fa-book')
        article(class='row')
          each book in books
            article(class='col-lg-3 mt-2 mb-2')
              article(class='card')
                img(class='center-block mt-3 mb-3' style='height:168px; width:128px;' src='#{book.imageurl}' alt='Card Image')
                article(class='card-block')
                  form(action='/profile/trade/#{book._id}' method='post')
                    input(type='submit' class='btn btn-info btn-block' value='Trade')


      